.stickynote {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 150px;
  width: 750px;
}
.stickynotes-list {
  overflow-y: auto;
}
.stickynote-textarea {
  border: none;
  outline: none;
  resize: none;
  min-height: 150px;
  width: 750px;
}
.button {
  padding-left: 10px;
  margin: 5px;
}